div.row {
  width: 100%;
  float: left;
  height: 25px;
}

div.block {
  height: 150px;
}

div.collumn {
  width: 14.28%;
  float: left;
  height: 100%;
  background: rgba(255, 0, 0, 1);
  display: table;
  cursor: pointer;
}

div.collumn:hover {
  background: rgba(255, 0, 0, 0.5);
}

div.collumn:focus {
  background: rgba(255, 0, 0, 0.5);
}

div.days {
  width: 100%;
  float: left;
  text-align: center;
  color: blue;
  cursor: pointer;
}

span {
  display: table-cell;
  vertical-align: middle;
}
