div.row {
  width: 100%;
  float: left;
  height: 25px;
}

div.block {
  height: 150px;
}

div.collumn {
  width: 23px;
  float: left;
  height: 100%;
  display: table;
  cursor: pointer;

  background:-webkit-gradient(linear, 13% 30%, 8% 58%, from(#5A5B5B), to(#574E3A));

}

div.collumn:hover {
  background:-webkit-gradient(linear, 11% 61%, 10% 21%, from(#3E323A), to(#312B2B));
}

div.days {
  width: 100%;
  float: left;
  text-align: center;
  color: blue;
  cursor: pointer;
}

span {
  display: table-cell;
  vertical-align: middle;
}

span.thisMonth {
  color: black;
}

span.otherMonth {
  color: gray;
}
