div.row {
  width: 100%;
  float: left;
  height: 25px;
}

div.block {
  height: 150px;
}

div.collumn {
  width: 23px;
  float: left;
  height: 100%;
  display: table;
  cursor: pointer;
  margin-left: 1px
}

div.collumn:hover {
  background: rgba(255, 0, 0, 0.5);
}


div.days {
  width: 100%;
  float: left;
  text-align: center;
  color: blue;
  cursor: pointer;
}

span {
  display: table-cell;
  vertical-align: middle;
}


span.thisMonth {
  color: black;
}

span.otherMonth {
  color: gray;
}
