div .row {
  width: 100%;
  float: left;
  height: 50px;
}

div.collumn {
  display: table;
  width: 42px;
  float: left;
  height: 100%;
  cursor: pointer;
  background:-webkit-gradient(linear, 13% 30%, 8% 58%, from(#5A5B5B), to(#574E3A));
}

div.block {
  height: 150px;
}

div.collumn:hover {
  background:-webkit-gradient(linear, 11% 61%, 10% 21%, from(#3E323A), to(#312B2B));
}

span {
  display: table-cell;;
  vertical-align: middle;
}

.years {
  width: 100%;
  float: left;
  text-align: center;
  color: blue;
  cursor: pointer;
  height: 100%;
}
