div .row {
  width: 100%;
  float: left;
  height: 50px;
}

div.collumn {
  display: table;
  width: 25%;
  float: left;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 255, 0, 1);
}

div.block {
  height: 150px;
}

div.collumn:hover {
  background: rgba(0, 255, 0, 0.5);
}

span {
  display: table-cell;;
  vertical-align: middle;
}

.years {
  width: 100%;
  float: left;
  text-align: center;
  color: blue;
  cursor: pointer;
  height: 100%;
}
