div.years {
  width: 100% auto;
  float: left;
  height: 150px;
}

div.year {
  width: 20%;
  float: left;
  height: 30px;
  display: table;
  cursor: pointer;
  background:-webkit-gradient(linear, 13% 30%, 8% 58%, from(#5A5B5B), to(#574E3A));
}

span.mid {
  vertical-align: middle;
  display: table-cell;
}

div.year:hover {
  background:-webkit-gradient(linear, 11% 61%, 10% 21%, from(#3E323A), to(#312B2B));
}
