div.years {
  width: 100% auto;
  float: left;
  height: 150px;
}

div.year {
  width: 20%;
  float: left;
  height: 30px;
  display: table;
  cursor: pointer;
}
span.mid {
  vertical-align: middle;
  display: table-cell;
}

div.year:hover {
  background: rgba(255, 0, 0, 0.4);
}
